@model int
<div class="text-center">
    <h1 class="text-info pt-4">Congratulations! You are one step closer to amazing food.</h1>
    <p class="pb-3">We have received your order and will be ready in 30minutes during regular business hours!</p>
    <h4 class="text-warning pb-3">Order ID - @Model</h4>
    <img src="/images/order.PNG" width="80%" />
</div>