
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3">
		<div class="row">
				<h1 class="text-white">Order List</h1>
		</div>
	</div>
	<div class="card-body p-4">
		<table id="tblData" class="table table-bordered table-striped pt-3" style="width:100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>Email</th>
					<th>Name</th>
					<th>Phone</th>
					<th>Status</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
</div>