
<div class="card shadow border-0 mt-4">
	<div class="card-header bg-secondary bg-gradient ml-0 py-3 d-flex justify-content-between">
		<div class="row">
				<h1 class="text-white">Order List</h1>
		</div>
		<ul class="list-group list-group-horizontal-sm pt-2">
			<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="approved">
				<li class="list-group-item">Approved</li>
			</a>
			<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="readyforpickup">
			<li class="list-group-item">Ready for Pikcup</li>
			</a>
			<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="cancelled">
			<li class="list-group-item">Cancelled</li>
			</a>
			<a style="text-decoration:none" asp-controller="Order" asp-action="OrderIndex" asp-route-status="all">
			<li class="list-group-item">All</li>
			</a>
		</ul>
	</div>
	<div class="card-body p-4">
		<table id="tblData" class="table table-bordered table-striped pt-3" style="width:100%">
			<thead>
				<tr>
					<th>ID</th>
					<th>Email</th>
					<th>Name</th>
					<th>Phone</th>
					<th>Status</th>
					<th>Total</th>
					<th></th>
				</tr>
			</thead>
		</table>
	</div>
</div>

@section Scripts{
	<script src="~/js/order.js"></script>
}